################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FabioGusmao.Api/Logs
/FabioGusmao.Api/obj/Debug
/FabioGusmao.Application/bin/Debug
/FabioGusmao.Application/obj/Debug
/FabioGusmao.DataMock/bin/Debug
/FabioGusmao.DataMock/obj/Debug
/FabioGusmao.Domain/bin/Debug
/FabioGusmao.Domain/obj/Debug
/FabioGusmao.Infra/bin/Debug
/FabioGusmao.Infra/obj/Debug
/FabioGusmao.Tests/bin/Debug
/FabioGusmao.Tests/obj/Debug
/FabioGusmao.Ui/bin/Debug
/FabioGusmao.Ui/obj/Debug
/packages/Antlr.3.5.0.2
/packages
/FabioGusmao.Api/bin/WebGrease.dll
/FabioGusmao.Api/bin/WebApiContrib.IoC.Ninject.dll
/FabioGusmao.Api/bin/WebActivatorEx.dll
/FabioGusmao.Api/bin/System.Web.WebPages.xml
/FabioGusmao.Api/bin/System.Web.WebPages.Razor.xml
/FabioGusmao.Api/bin/System.Web.WebPages.Razor.dll
/FabioGusmao.Api/bin/System.Web.WebPages.dll
/FabioGusmao.Api/bin/System.Web.WebPages.Deployment.xml
/FabioGusmao.Api/bin/System.Web.WebPages.Deployment.dll
/FabioGusmao.Api/bin/System.Web.Razor.xml
/FabioGusmao.Api/bin/System.Web.Razor.dll
/FabioGusmao.Api/bin/System.Web.Optimization.xml
/FabioGusmao.Api/bin/System.Web.Optimization.dll
/FabioGusmao.Api/bin/System.Web.Mvc.xml
/FabioGusmao.Api/bin/System.Web.Mvc.dll
/FabioGusmao.Api/bin/System.Web.Http.xml
/FabioGusmao.Api/bin/System.Web.Http.WebHost.xml
/FabioGusmao.Api/bin/System.Web.Http.WebHost.dll
/FabioGusmao.Api/bin/System.Web.Http.dll
/FabioGusmao.Api/bin/System.Web.Helpers.xml
/FabioGusmao.Api/bin/System.Web.Helpers.dll
/FabioGusmao.Api/bin/System.Threading.Tasks.Extensions.xml
/FabioGusmao.Api/bin/System.Threading.Tasks.Extensions.dll
/FabioGusmao.Api/bin/System.Runtime.InteropServices.RuntimeInformation.dll
/FabioGusmao.Api/bin/System.Runtime.CompilerServices.Unsafe.xml
/FabioGusmao.Api/bin/System.Runtime.CompilerServices.Unsafe.dll
/FabioGusmao.Api/bin/System.Net.Http.Formatting.xml
/FabioGusmao.Api/bin/System.Net.Http.Formatting.dll
/FabioGusmao.Api/bin/Swashbuckle.Core.dll
/FabioGusmao.Api/bin/Swagger.xml
/FabioGusmao.Api/bin/NPOI.OpenXmlFormats.dll
/FabioGusmao.Api/bin/NPOI.OpenXml4Net.dll
/FabioGusmao.Api/bin/NPOI.OOXML.dll
/FabioGusmao.Api/bin/NPOI.dll
/FabioGusmao.Api/bin/NLog.xml
/FabioGusmao.Api/bin/NLog.dll
/FabioGusmao.Api/bin/Ninject.xml
/FabioGusmao.Api/bin/Ninject.Web.WebApi.xml
/FabioGusmao.Api/bin/Ninject.Web.WebApi.dll
/FabioGusmao.Api/bin/Ninject.Web.Common.xml
/FabioGusmao.Api/bin/Ninject.Web.Common.WebHost.xml
/FabioGusmao.Api/bin/Ninject.Web.Common.WebHost.dll
/FabioGusmao.Api/bin/Ninject.Web.Common.dll
/FabioGusmao.Api/bin/Ninject.Extensions.Logging.xml
/FabioGusmao.Api/bin/Ninject.Extensions.Logging.NLog4.xml
/FabioGusmao.Api/bin/Ninject.Extensions.Logging.NLog4.dll
/FabioGusmao.Api/bin/Ninject.Extensions.Logging.dll
/FabioGusmao.Api/bin/Ninject.dll
/FabioGusmao.Api/bin/Newtonsoft.Json.xml
/FabioGusmao.Api/bin/Newtonsoft.Json.dll
/FabioGusmao.Api/bin/Microsoft.Web.Infrastructure.dll
/FabioGusmao.Api/bin/Microsoft.Extensions.Logging.xml
/FabioGusmao.Api/bin/Microsoft.Extensions.Logging.dll
/FabioGusmao.Api/bin/Microsoft.Extensions.Logging.Abstractions.xml
/FabioGusmao.Api/bin/Microsoft.Extensions.Logging.Abstractions.dll
/FabioGusmao.Api/bin/Microsoft.Extensions.DependencyInjection.Abstractions.xml
/FabioGusmao.Api/bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/FabioGusmao.Api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/FabioGusmao.Api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/FabioGusmao.Api/bin/ICSharpCode.SharpZipLib.xml
/FabioGusmao.Api/bin/ICSharpCode.SharpZipLib.pdb
/FabioGusmao.Api/bin/ICSharpCode.SharpZipLib.dll
/FabioGusmao.Api/bin/FabioGusmao.Infra.pdb
/FabioGusmao.Api/bin/FabioGusmao.Infra.dll
/FabioGusmao.Api/bin/FabioGusmao.Domain.pdb
/FabioGusmao.Api/bin/FabioGusmao.Domain.dll
/FabioGusmao.Api/bin/FabioGusmao.DataMock.pdb
/FabioGusmao.Api/bin/FabioGusmao.DataMock.dll
/FabioGusmao.Api/bin/FabioGusmao.Application.pdb
/FabioGusmao.Api/bin/FabioGusmao.Application.dll.config
/FabioGusmao.Api/bin/FabioGusmao.Application.dll
/FabioGusmao.Api/bin/FabioGusmao.Api.pdb
/FabioGusmao.Api/bin/FabioGusmao.Api.dll.config
/FabioGusmao.Api/bin/FabioGusmao.Api.dll
/FabioGusmao.Api/bin/Antlr3.Runtime.pdb
/FabioGusmao.Api/bin/Antlr3.Runtime.dll
